- hosts: localhost
  become: yes

  pre_tasks:

    # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
    - name: Update && Dist-Upgrade the OS via apt
      apt:
        update_cache: yes
        cache_valid_time: 86400 # 1 day
        upgrade: dist
        autoremove: yes
        autoclean: yes

    # https://mutschler.eu/linux/install-guides/pop-os-post-install/

    - name: Update Firmware
      ansible.builtin.command: |
        fwupdmgr get-devices -y &&
        fwupdmgr get-updates &&
        fwupdmgr update

    - name: Set Hybrid Graphics
      ansible.builtin.command: system76-power graphics hybrid

  roles:
    - role: ngetchell.vscode
    - role: ngetchell.vscode
      vars:
        become_user: "{{ user }}"
        vscode_install: false
        vscode_extension:
          - platformio.platformio-ide
          - cweijan.vscode-office
          - robole.marky-stats
          - yzhang.markdown-all-in-one
          - ms-vsliveshare.vsliveshare-pack
          - mhutchie.git-graph
    - role: staticdev.signal
    - role: manala.zsh
    - role: manala.ohmyzsh
    - role: etcher
    - role: tgagor.spotify
    - role: ngetchell.ms_teams

  tasks:

    ## CAD/CAM Programs ##

    - name: Install Prusa Slicer from default apt repositorys
      apt:
        name: prusa-slicer

    - name: Install FreeCAD from default apt repositorys
      apt:
        name: freecad

    - name: Install Blender from default apt repositorys
      apt:
        name: blender

    - name: Install OpenSCAD from default apt repositorys
      apt:
        name: openscad

    - name: Install GIMP from default apt repositorys
      apt:
        name: gimp

    - name: Install Inkscape from default apt repositorys
      apt:
        name: inkscape

    - name: Install KiCad from default apt repositorys
      apt:
        name: kicad

    - name: Install Printrun from default apt repositorys
      apt:
        name: printrun

    - name: Install Scribus from default apt repositorys
      apt:
        name: scribus

    - name: Install OpenShot from default apt repositorys
      apt:
        name: openshot

    - name: Install Shotcut from default apt repositorys
      apt:
        name: shotcut

    - name: Install Darktable from default apt repositorys
      apt:
        name: darktable

    - name: Install Sweet Home 3D from default apt repositorys
      apt:
        name: sweethome3d

    - name: Install GNU Octave from default apt repositorys
      apt:
        name: octave

    - name: Install LibreCAD from default apt repositorys
      apt:
        name: librecad

    - name: Install LeoCAD from default apt repositorys
      apt:
        name: leocad

    - name: Install MeshLab from default apt repositorys
      apt:
        name: meshlab


    ## Backup Programs ##

    - name: Install Syncthing from default apt repositorys
      apt:
        name: syncthing

    - name: Install KeePassXC from default apt repositorys
      apt:
        name: keepassxc

    - name: Install Nextcloud Desktop from default apt repositorys
      apt:
        name: nextcloud-desktop

    - name: Install rsync from default apt repositorys
      apt:
        name:
          - rsync
          - grsync


    ## Writing Programs ##

    - name: Install Pandoc from default apt repositorys
      apt:
        name:
          - pandoc
          - pandoc-citeproc

    - name: Install TeX Live from default apt repositorys
      apt:
        name:
          - texlive
          - texlive-lang-german
          - texlive-latex-extra
          - texlive-fonts-extra
          - texlive-luatex

    - name: Install Calibre from default apt repositorys
      apt:
        name: calibre

    - name: Install AsciiDoc from default apt repositorys
      apt:
        name: asciidoc

    - name: Install pdfgrep from default apt repositorys
      apt:
        name: pdfgrep


    ## Coding Programs ##

    - name: Install Vagrant from default apt repositorys
      apt:
        name:
          - vagrant
          - virtualbox

    - name: Install QEMU from default apt repositorys
      apt:
        name:
          - qemu
          - qemu-user-static
          - binfmt-support

    - name: Install Arduino IDE from default apt repositorys
      apt:
        name: arduino

    - name: Install Android Tools from default apt repositorys
      apt:
        name:
          - adb
          - fastboot

    - name: Install git from default apt repositorys
      apt:
        name:
          - git
          - git-lfs

    - name: Install Subversion from default apt repositorys
      apt:
        name:
          - subversion
          - git-svn

    - name: Install Node.js from default apt repositorys
      apt:
        name:
          - nodejs
          - npm


    ## Media Programs ##

    - name: Install VLC media player from default apt repositorys
      apt:
        name: 
          - vlc
          - gstreamer1.0-libav

    - name: Install Audacity from default apt repositorys
      apt:
        name: audacity

    - name: Install Ardour from default apt repositorys
      apt:
        name: ardour

    - name: Install OBS Studio from default apt repositorys
      apt:
        name:
          - obs-studio
          - v4l2loopback-dkms

    - name: Install Cheese from default apt repositorys
      apt:
        name: cheese


    ## Gaming Programs ##

    - name: Install Steam from default apt repositorys
      apt:
        name: steam

    - name: Install SuperTuxKart from default apt repositorys
      apt:
        name: supertuxkart

    - name: Install PlayOnLinux from default apt repositorys
      apt:
        name: playonlinux

    - name: Install Lutris from default apt repositorys
      apt:
        name: lutris


    ## Communications Programs ##

    - name: Install Telegram Desktop from default apt repositorys
      apt:
        name: telegram-desktop

    - name: Install Slack Desktop from default apt repositorys
      apt:
        name: slack-desktop

    - name: Install Discord from default apt repositorys
      apt:
        name: discord

    - name: install zoom
      apt:
        deb: https://zoom.us/client/latest/zoom_amd64.deb


    ## Learning Programs ##

    - name: Install Anki from default apt repositorys
      apt:
        name: anki

    - name: Install Pomodoro from default apt repositorys
      apt:
        name: gnome-shell-pomodoro
      # needs shell extension for top bar
      # https://extensions.gnome.org/extension/53/pomodoro/


    ## Finance Programs ##

    - name: Install GnuCash from default apt repositorys
      apt:
        name: gnucash


    ## Web Programs ##

    - name: Install Chromium from default apt repositorys
      apt:
        name: chromium-browser

    - name: Install Transmission from default apt repositorys
      apt:
        name: transmission

    - name: Install TIPP10 from default apt repositorys
      apt:
        name: tipp10

    - name: Install Thunderbird from default apt repositorys
      apt:
        name: thunderbird

    - name: Install Nmap from default apt repositorys
      apt:
        name: nmap

    - name: Install Remmina from default apt repositorys
      apt:
        name: remmina

    - name: Install network-manager-openconnect-gnome from default apt repositorys
      apt:
        name: network-manager-openconnect-gnome # Cisco AnyConnect


    ## CLI Programs ##

    - name: Install acpi from default apt repositorys
      apt:
        name: acpi

    - name: Install ncdu from default apt repositorys
      apt:
        name: ncdu

    - name: Install tlp from default apt repositorys
      apt:
        name: tlp

    - name: Install tree from default apt repositorys
      apt:
        name: tree

    - name: Install vim from default apt repositorys
      apt:
        name: vim

    - name: Install powertop from default apt repositorys
      apt:
        name: powertop

    - name: Install traceroute from default apt repositorys
      apt:
        name: traceroute

    - name: Install htop from default apt repositorys
      apt:
        name: htop

    - name: Install neofetch from default apt repositorys
      apt:
        name: neofetch

    - name: Install hw-probe from default apt repositorys
      apt:
        name: hw-probe

    - name: Install whois from default apt repositorys
      apt:
        name: whois

  #config Programs

    - name: Config firefox for nicer use of the touchscreen
      ansible.builtin.command: |
        echo export MOZ_USE_XINPUT2=1 |
        sudo tee /etc/profile.d/e-xinput2.sh

    - name: Set email for git
      community.general.git_config:
        name: user.email
        scope: global
        value: igami@mailbox.org

    - name: Set username for git
      community.general.git_config:
        name: user.name
        scope: global
        value: igami

    - name: prepare Fingerprint sensor
      apt:
        name: libpam-fprintd

    - name: enable Fingerprint sensor
      ansible.builtin.command: pam-auth-update --enable fprintd

    - name: Install Tweaks from default apt repositorys
      apt:
        name: gnome-tweak-tool

# common
# user
# deepnest
# lightburn
# veracrypt
# element
# zotero
# typora
# xournal++
# parsec
# among us
# minecraft
# table top simulator
# inkstitch
# linphone / sip client
# implicitcad
# bitwarden
# teamviewer
# unattended-upgraded / apt-listchanges
# davinci resolve
# wireguard
# https://extensions.gnome.org/extension/906/sound-output-device-chooser/
